language: python
sudo: required
python:
  - "3.5"
  - "3.5-dev" # 3.5 development branch
  - "3.6"
  - "3.6-dev" # 3.6 development branch
#  - "3.7-dev" # 3.7 development branch
#  - "nightly"
# command to install dependencies
install:
  # Install anaconda
  - wget https://repo.continuum.io/archive/Anaconda3-5.0.1-Linux-x86_64.sh -O anaconda.sh
  - bash anaconda.sh -b -p $HOME/anaconda
  - export PATH="$HOME/anaconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  # Get the PythonOCC environment set up
  - source $HOME/anaconda/bin/activate
  - conda create -n cq-occ-testing -c pythonocc -c oce -c conda-forge -c dlr-sc -c CadQuery cadquery-occ
  - source activate cq-occ-testing
  - pip3 install -r requirements.txt
# command to run tests
os:
  - linux
#  - osx
script:
  - pytest --pyargs cqcad # or py.test for Python versions 3.5 and below
